$base-900: #101010;
$base-800: #232323;
$base-700: #868686;
$base-600: #F3F3F3;
$white: #FFFFFF;
$green: #9EFFBF;
$purple-200: #7941A7;
$purple-100: #E2BEFF;
$blue: #1059C8;

$default-border-radius: 12px;


